@import "bsVariables";
@import "faVariables";
@import "../vendor/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../vendor/fontawesome/scss/font-awesome";


@font-face{
	font-family: 'Alegreya';
	src:url('../fonts/AlegreyaSC-Regular.otf');
}

@font-face{
	font-family: 'Roboto';
	src:url('../fonts/RobotoSlab-Regular.ttf');
}

@font-face{
	font-family: 'Andika';
	src:url('../fonts/AndBasR.ttf');

}


html, body{min-height:100%; height:100%;}
a:visited{color: #FFFFFF; text-decoration: none}
a:hover{text-decoration: none}
a:link{color:white}
.page{
	width: 100%;
	min-height: 100%;
	height: 100%;
	position:relative;
	text-align:center;
}

.fill{
	height:100%;
	min-height:100%;
}

#welcomePage{
	color:white;
	font-family: "Georgia", serif;
	letter-spacing: 3px;
	background-image: url("../img/backgrounds/dark_mosaic.png");
}

#nameHeader{font-family: "Alegreya";}


#descriptionHeader{
	font-family: "Alegreya";
	-webkit-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#descriptionHeader:hover{
	-webkit-transform: scale(1.4);
	-ms-transform: scale(1.4);
	transform: scale(1.4);
}





.welcomeRow{
	button{
		
		padding-right:20px;
		
	}
	@media (min-width: 10px){
		margin-top: 10%;
		#descriptionHeader{margin-top: 30%; font-size:1.6em; }
		button{margin-top:30%; font-size: 1.2em; font-family: "Andika"}
		#nameHeader{font-size: 2.2em;}
	}
	
	@media (min-width: 10px) and (orientation: landscape){
		margin-top: 2%;
		#descriptionHeader{margin-top: 7%; font-size:1.6em; }
		button{margin-top:7%; font-size: 1.2em; font-family: "Andika"}
		#nameHeader{font-size: 2.2em;}
	}

	@media (min-width: $screen-md-min) and (orientation: landscape){
		margin-top: 10%;
		#descriptionHeader{margin-top: 10%; font-size:1.6em; }
		button{margin-top:15%; font-size: 1.2em; font-family: "Andika"}
		#nameHeader{font-size: 2.2em;}
	}

	@media (min-width: $screen-sm-min){
		margin-top: 7%;
		#descriptionHeader{margin-top: 7%; font-size:2em; }
		button{margin-top:10%; font-size: 2.2em; font-family: "Andika"}
		#nameHeader{font-size: 3.8em;}
	}

	@media (min-width: $screen-lg-min){
		margin-top: 7%;
		#descriptionHeader{margin-top: 7%; font-size:2em; }
		button{margin-top:10%; font-size: 2.2em; font-family: "Andika"}
		#nameHeader{font-size: 3.8em;}
	}
}








#aboutMePage{
	color: white;
	background-image: url("../img/backgrounds/binding_dark.png");
	button{
		width: 100%;
		font-family: 'Andika';
	}
}

.aboutMeText{
	border-style: dashed;
	border-width: 1px;
	border-color:#999999;
	padding: 15px 15px 15px 15px;
	background-image: url("../img/lighter.png");
	text-align: left;
}

.aboutMeHeader{
	font-family: 'Alegreya';
	letter-spacing: 4px;
}


.aboutRow{
	@media (min-width: 10px){
		.aboutMeHeader{margin-top:8%;}
		.aboutMeText{font-size:1em; margin-top:12%;}
		button {margin-top: 23%; font-size: 1.2em;}
	}

	@media (min-width: 10px) and (orientation: landscape){
		.aboutMeHeader{margin-top:3%; font-size:1.2em}
		.aboutMeText{font-size:1em; margin-top:8%;}
		button {margin-top: 10%; font-size: 1.2em;}
	}

	@media (min-width: $screen-sm-min){
		.aboutMeHeader{margin-top:12%; font-size:2.2em;}
		.aboutMeText{font-size:1.8em; margin-top:20%;}
		button {margin-top: 23%; font-size: 1.9em;}
	}

	@media (min-width: $screen-md-min) and (orientation: landscape) {
		.aboutMeHeader{margin-top:3%; font-size:2.2em;}
		.aboutMeText{font-size:1.8em; margin-top:20%;}
		button {margin-top: 25%; font-size: 1.9em;}
	}

	@media (min-width: $screen-md-min){
		.aboutMeHeader{margin-top:3%; font-size:2.2em;}
		.aboutMeText{font-size:1.8em; margin-top:20%;}
		button {margin-top: 25%; font-size: 1.9em;}
	}
}



#portfolioPage{
	color: white;
	background-image: url('../img/backgrounds/classy_fabric.png');
	img{border-radius:15px;}
	label{font-family: 'Alegreya';}
	button{ font-family: 'Andika';}
}


.webPortfolioRow{
	@media (min-width:10px) and (max-width: $screen-xs-max){
		img{margin-top:9%; width:90%}
		label{font-size:1.5em; margin-top:5%}
		button{margin-top:13%; font-size:1em}
		
		@media(orientation: landscape){
			.col-xs-12{width:50%}
			#a{width:100%; float:left}
			#b{width:100%; float:right}
		}
	}

	@media (min-width: $screen-sm-min){
		img{margin-top:9%; width:80%}
		label{font-size:2.3em; margin-top:5%}
		button{margin-top:19%; font-size:2em}
	}


	@media (min-width: $screen-md-min) and (orientation: landscape){	
		.col-md-12{width:50%}
		#a{width:100%; float:left}
		#b{width:100%; float:right}
		img{margin-top:25%}
		label{font-size:2.3em; margin-top:5%}
		button{margin-top:40%; font-size:2em}
	}

	@media (min-width: $screen-lg-min){
		img{margin-top:15%}
		label{font-size:2.3em; margin-top:5%}
		button{margin-top:20%; font-size:2em}	
	}
}





#programmingProjects{
	background-image: url('../img/backgrounds/binding_dark.png');
	color:white;
	label{font-family: 'Alegreya'}
	button{width:100%; font-family:'Andika'}
}

blockquote{
	span{font-family: 'Roboto';}
	font-family: 'Roboto';
	background: rgba(60, 71, 81, 0.2);
	border-style:dashed;
	border-width: 1px;
	border-color:#888888;
	box-shadow: 5px 5px 5px #0c0c0c;
	letter-spacing: 3px;
	text-align: left;
}


.progRow{
	blockquote:hover{
		cursor: pointer;
		background: rgba(80, 160, 250, 0.50);
	}
	@media (min-width: 10px){
		label{font-size: 1.3em; margin-top:7%; margin-bottom:12%}
		blockquote{font-size:1.2em;margin-bottom:20px;}
		button{font-size:1.3em}
		@media (orientation: landscape){
			.col-xs-12{width:50%}
			#leftProg{float: left; width: 100%}
			#rightProg{float: right; width: 100%}
			label{margin-bottom: 5%;}
			blockquote{font-size:1em;}
		}
	}
	@media (min-width: $screen-sm-min){
		label{font-size:2.5em; margin-top:7%; margin-bottom: 12%}
		blockquote{font-size:2em; margin-bottom: 40px;}
		button{font-size:2em; margin-top:15%;}
	}

	@media (min-width:$screen-lg-min){
		label{font-size:3em; margin-top:2%; margin-bottom:6%;}
		blockquote{font-size:1.7em;}
		button{margin-top:8%}
	}
}



#contactMePage{
	color:white;
	background: #333333;
	button{font-family:'Andika'; width:100%;}
}

#contactMeLabel{
	font-family: 'Alegreya';
	font-variant: small-caps;
	font-weight: lighter;
	letter-spacing: 4px;
	-webkit-transition: all 0.2s ease-out;
	-ms-transition: all 0.2 ease-out;
	transition: all 0.2s ease-out;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#contactMeLabel:hover{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

#emailLabel{font-family: 'Roboto'}

#resumeLabel{
	font-family:'Alegreya';
	font-weight: lighter;
	-webkit-transition: all 0.3s ease-out;
	-ms-transition: all 0.3 ease-out;
	transition: all 0.3s ease-out;
	-webkit-transform: skewX(0deg);
	-ms-transform: skewX(0deg);
	transform: skewX(0deg);
}
#resumeLabel:hover{
	-webkit-transform: skewX(35deg);
	-ms-transform: skewX(35deg);
	transform: skewX(35deg);
}




.contactRow{
	@media(min-width: 10px){
		i{margin-right:8px}
		#contactMeLabel{font-size:2em; margin-top:35%}
		#emailLabel{font-size: 1.4em; margin-top:15%}
		#resumeLabel{font-size:1.4em; margin-top:15%}
		button{font-size:1em; margin-top:45%}

		@media (orientation: landscape){
			#contactMeLabel{margin-top:5%;}
			#emailLabel{margin-top:5%}
			#resumeLabel{margin-top:5%;}
			button{margin-top:15%; font-size:1.3em;}
		}
	}

	@media (min-width: $screen-sm-min){
		#contactMeLabel{font-size: 2.9em}
		#emailLabel{font-size: 2.8em}
		#resumeLabel{font-size: 2.7em}
		button{font-size:2.6em}
	}

	@media(min-width: $screen-md-min){
		#contactMeLabel{margin-top:20%}
	}

	@media(min-width: $screen-lg-min){
		#contactMeLabel{margin-top:10%;}
	}
}

#profilesPage{
	background-image: url("../img/backgrounds/binding_dark.png");
	color:white;
	i{
		-webkit-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out; 
		-webkit-transform: rotate(0deg); 
		-ms-transform: rotate(0deg); 
		transform:rotate(0deg);
	}	
	i:hover{
		-webkit-transform: rotate(45deg); 
		-ms-transform: rotate(45deg); 
		transform:rotate(45deg);
	}
}

#profilesHeader{font-family:"Alegreya"}

.profilesRow{
	@media(min-width: 10px){
		#profilesHeader{font-size:1.8em; margin-top:10%;}
		i{margin-top:30px; margin-bottom:40px}
		
		@media(orientation: landscape){
			#profilesHeader{margin-top:5%;}
			i{margin-top:20px;margin-bottom:30px}
		}
	}

	@media(min-width: $screen-sm-min){
		#profilesHeader{font-size:3.0em; margin-top:10%; margin-bottom:15%}
		i{margin-top:50px; margin-bottom:40px;}
	}

	@media(min-width: $screen-lg-min){
		#profilesHeader{margin-top: 5%; margin-bottom:10%;}
	}
}